<div id="splash-screen" ng-show="showSplash">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="javascript:;"></a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="javascript:;">
          <span class="tiaoguo"></span>
        </a>
      </div>
      <div class="swiper-slide" ng-swipe-left="removeSplash()">
        <a href="javascript:;">
          <span class="tiaoguo"></span>
        </a>
      </div>
    </div>
  </div>
</div>
